
head {
  background: #CDCDCD;


}
body {
  font-family: 'Open Sans', sans-serif;

  text-align: center;
}

#hero {
  width: 626px;
  margin: 66px auto 0;

}

#hero {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;

  font-size: 32px;
  line-height: 40px;
  
  margin-bottom: 16px;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
  }

  p {
    color: #828282;

    font-size: 15px;
    line-height: 22px;
    
  }
  
  p span {
    color:#3F3D56;
    font-weight: bold;
  }
  
#line {
  width: 391px;
  height: 0px;
  
  margin: 62px auto 16px;
  
  border: 1px solid #ECEFF2;
}
  

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 41px;
}

ul li a {
  color: #3F3D56;
text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
}


footer img {
  display: block;
  width: 100%;
  bottom: 0;
}